body {
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.copyright {
    text-align: right;
    color: rgb(94, 133, 5);
    opacity: 0.75;
}

a {
    color: aquamarine;
}

h1 {
    font-size: 50px;
    font-weight: bold;
}

h2 {
    font-size: 42px;
}

figcaption {
    font-size: 21px;
}

